#H1 Data Science Tools and Ecosystem

## H2 In this notebook, Data Science Tools and Ecosystem are summarized

## Some of the popular languages that Data Scientists use are:
-Python
-R
-Java

## Some of the commonly used libraries used by Data Scientists include:-NumPy,- Matplotlib, -ggplot

|Data Science Tools | 
| ------ |
| Data Management  | 
|Data Integration and Transformation| 
| Data Visualization |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives
1. To be conversant with data science tools 
2. To know and operate at least three popular data science languages 
3. To Understand github
4. To apply data science to financial inclusion measurement 
5. To collaborate with other data scientist

## Author
Floyd Mwansa